<div class="row">
    <div class="col-12">
        <h1>
            {{tableName}}
        </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr class="table-dark">
                    <th scope="col">Employee ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Salary</th>
                    <th scope="col">DOB</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody *ngFor="let val of employeesList" empdataColor>
                <tr>
                    <td>
                        {{val.empId}}
                    </td>
                    <td>
                        {{val.firstName}}
                    </td>
                    <td>
                        {{val.lastName}}
                    </td>
                    <td>
                        {{val.salary | currency}}
                    </td>
                    <td>
                        {{val.dob | date : "mediumDate" | uppercase}}
                    </td>
                    <td>
                        {{val.email}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>